<?xml version="1.0" encoding="utf-8"?>
<!-- https://learn.microsoft.com/en-us/visualstudio/test/configure-unit-tests-by-using-a-dot-runsettings-file -->
<RunSettings>
    <RunConfiguration>
        <ResultsDirectory>./output/.test-results</ResultsDirectory>
        <TreatNoTestsAsError>true</TreatNoTestsAsError>
    </RunConfiguration>
    <DataCollectionRunSettings>
        <DataCollectors>
            <!-- https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/VSTestIntegration.md -->
            <DataCollector friendlyName="XPlat code coverage">
                <Configuration>
                    <Format>cobertura</Format>
                    <IncludeTestAssembly>false</IncludeTestAssembly>
                </Configuration>
            </DataCollector>
        </DataCollectors>
    </DataCollectionRunSettings>
    <LoggerRunSettings>
        <Loggers>
            <Logger friendlyName="console" enabled="True" />
            <Logger friendlyName="trx" enabled="True" />
        </Loggers>
    </LoggerRunSettings>
</RunSettings>
